Repository notAro14/mern-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

Apply major updates
  package.json
  yarn.lock
Due: none

Configure MERN stack
  .env.example
  .eslintrc.json
  .gitignore
  package.json
  src/components/Button/Button.js
  src/components/P/P.js
  src/server/index.js
  src/server/routes/ping.js
  src/server/server.js
  src/views/HomePage.jsx
  webpack/webpack.dev.js
  webpack/webpack.server.js
  yarn.lock
Due: eslint --cache, prettier --write

Update README
  README.md
Due: prettier --write

Update repo info
  package.json
Due: none

Write some dumb test
  src/__tests__/HomePage.test.jsx
  src/components/PingData/PingData.jsx
  src/views/HomePage.jsx
Due: eslint --cache, prettier --write

Improve favicons and add alias
  package.json
  src/public/favicons/android-chrome-192x192.png
  src/public/favicons/android-chrome-512x512.png
  src/public/favicons/apple-touch-icon.png
  src/public/favicons/browserconfig.xml
  src/public/favicons/favicon-16x16.png
  src/public/favicons/favicon-32x32.png
  src/public/favicons/favicon.ico
  src/public/favicons/mstile-150x150.png
  src/public/favicons/safari-pinned-tab.svg
  src/public/favicons/site.webmanifest
  src/public/images/favicon.png
  src/public/template.html
  src/template.html
  webpack/webpack.config.js
  webpack/webpack.prod.js
  yarn.lock
Due: eslint --cache, prettier --write

Configure typescript
  .browserslistrc
  .eslintrc.json
  .husky/.gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  Procfile
  babel.config.json
  package.json
  postcss.config.js
  src/App.jsx
  src/App.tsx
  src/__tests__/HomePage.test.jsx
  src/components/Button/Button.js
  src/components/Heading/Heading.jsx
  src/components/Layout/Layout.jsx
  src/components/Link/Link.jsx
  src/components/Loading/Loading.jsx
  src/components/Navbar/Navbar.jsx
  src/components/P/P.js
  src/components/PingData/PingData.jsx
  src/index.tsx
  src/public/images/favicon.png
  src/public/template.html
  src/server/index.js
  src/server/routes/ping.js
  src/views/HomePage.jsx
  src/views/InstallationPage.jsx
  src/views/NotFoundPage.jsx
  tsconfig.json
  webpack.config.ts
  webpack/webpack.config.js
  webpack/webpack.dev.js
  webpack/webpack.prod.js
  webpack/webpack.server.js
  yarn.lock
Due: eslint --cache, prettier --write

Add few components
  package.json
  src/App.tsx
  src/containers/About.tsx
  src/containers/Home.tsx
  yarn.lock
Due: none

Remove mongoose
  package.json
  src/server/index.js
  yarn.lock
Due: eslint --cache, prettier --write

Path conditions:
  eslint --cache: any of: *.{jsx,js}
  prettier --write: any of: *.{js,jsx,css,scss,sass,md,html}
